<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hbm2ddl.auto">create</property>


<!--        <property name="connection_pool_size">1</property>-->


        <property name="show_sql">true</property>



<!--        <mapping class="com.xfive.swaggertest.model.Functions"/>-->
<!--        <mapping class="com.xfive.swaggertest.serrtest.TariffCreationRequest"/>-->
<!--        <mapping class="com.xfive.swaggertest.model.Functions"/>-->
<!--        <mapping class="com.xfive.swaggertest.model.Functionality"/>-->
<!--        <mapping class="com.xfive.swaggertest.model.Authorizations"/>-->
        <mapping class="com.xfive.swaggertest.model.ReportType"/>
        <mapping class="com.xfive.swaggertest.model.Tariff"/>
        <mapping class="com.xfive.swaggertest.serrtest.ReportTypeWrapper"/>
        <mapping class="com.xfive.swaggertest.serrtest.ReportTypeId"/>
        <mapping class="com.xfive.swaggertest.someClasses.User"/>


    </session-factory>
</hibernate-configuration>